# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package / archive files
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Crash logs
hs_err_pid*
replay_pid*

# Eclipse
bin/
.settings/
.classpath
.project
.metadata

# Local runtime files
highscore.txt